.form-container {
    /* background-color: rgb(206, 194, 194); */
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-top: 4rem;
  }
/*   
  .form-container .cover {
    width: 50%;
    height: 100%;
    background-color: darkslateblue;
  } */
  
  .form-container .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  
  .form-container .form .title {
    padding-left: 30px;
    padding-top: 30px;
  }
  
  .form-container .form input {
    padding: 10px 20px;
    margin: 20px 20px;
    border: none;
    border-bottom: 1px solid #7588b8;
    background-color: transparent;
    font-size: 15px;
  }
  
  .form-container .form button {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 35px;
    font-size: 15px;
    background-color: #4482ff;
    border: none;
    cursor: pointer;
    color: white;
  }
  .form-container .form select{
    background-color: rgb(233, 238, 243);
    color: rgb(80, 78, 78);
  }