@import "../scss/variables";

@charset "UTF-8";
.app-sidebar {
	.mCSB_container {
		margin-right: 0px;
	}
	.mCSB_draggerContainer {
		right: -11px;
	}
}
@media (min-width: 768px) {
	.app.sidenav-toggled {
		.app-content {
			margin-left: 0;
		}
		.app-sidebar {
			left: -230px;
			display: none;
		}
		.app-sidebar__overlay {
			visibility: hidden;
		}
	}
	.app-sidebar__toggle {
		margin-left: 20px;
	}
}
@media (max-width: 767px) {
	.app-sidebar__user {
		color: #151948;
		background: transparent !important;
		border: 1px solid transparent !important;
		border-radius: 0 !important;
		margin-bottom: 0 !important;
	}
	.side-menu {
		border-radius: 0 !important;
	}
	.app {
		overflow-x: hidden;
		.app-sidebar {
			left: -230px;
		}
		.app-sidebar__overlay {
			visibility: hidden;
		}
		&.sidenav-toggled {
			.app-content {
				margin-left: 0;
			}
			.app-sidebar {
				left: 0;
				margin: 0;
			}
			.app-sidebar__overlay {
				visibility: visible;
			}
		}
	}
}
.app-content {
	min-height: calc(100vh - 50px);
	margin-top: 50px;
	margin-bottom: 0 !important;
	-webkit-transition: margin-left 0.1s ease;
	-o-transition: margin-left 0.1s ease;
	transition: margin-left 0.3s ease;
	padding: 18px 0.75rem 0 0.75rem;
}
.footer .container {
	width: 100%;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.app-content {
		margin-left: 230px;
	}
}
@media (max-width: 767px) {
	.app-content {
		margin-top: 48px !important;
		min-width: 100%;
	}
}
@media (max-width: 480px) {}
@media print {
	.app-content {
		margin: 0;
		padding: 0;
		background-color: $white;
	}
}
.light-text {
	font-weight: 300 !important;
}
.semibold-text {
	font-weight: 600 !important;
}
.line-head {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
/*----- Componant: Top Navigation Bar ----- */

.app-header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	z-index: 1030;
	padding: 10px 0;
	box-shadow: none;
	background: linear-gradient(89.1deg, rgb(8, 158, 96) 0.7%, rgb(19, 150, 204) 88.4%);
}
/*@media (min-width: 768px) {
  .app-header {
    padding-right: 30px;
  }
}
*/

@media print {
	.app-header {
		display: none;
	}
}
.app-header__logo {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	color: $white;
	text-align: center;
	font-family: 'Niconne';
	padding: 0 15px;
	font-size: 26px;
	font-weight: 400;
	line-height: 50px;
	&:focus, &:hover {
		text-decoration: none;
	}
}
@media (min-width: 768px) {
	.app-header__logo {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		display: block;
		width: 230px;
	}
}
.app-sidebar__toggle {
	padding: 0 15px;
	color: $white;
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
	&:hover {
		color: $white;
	}
	&:before {
		content: "\e907";
		transition: all .25s;
		font-size: 1.5rem;
		font-family: 'feather';
		top: 5px;
		position: relative;
	}
	&:focus, &:hover {
		text-decoration: none;
	}
}
@media (max-width: 767px) {
	.app-sidebar__toggle {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
	}
}
.app-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 0;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
@media (min-width: 768px) {
	.app-nav {
		-webkit-box-flex: 1;
		-ms-flex: 1 0 auto;
		flex: 1 0 auto;
	}
}
.app-nav__item {
	display: block;
	padding: 15px;
	line-height: 20px;
	color: #3e4b5b;
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
	&:hover, &:focus {
		background: $black-1;
		color: #f6f6f6;
	}
}
.app-search {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: center;
	align-self: center;
	margin-right: 15px;
	padding: 10px 0;
}
@media (max-width: 480px) {
	.app-search {
		display: none;
	}
}
.app-search__input {
	border: 0;
	padding: 5px 10px;
	padding-right: 30px;
	border-radius: 2px;
	background-color: $white-8;
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
	&::-webkit-input-placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder, &::placeholder {
		color: $black-4;
	}
}
.app-search__button {
	position: absolute;
	right: 0;
	top: 10px;
	bottom: 10px;
	padding: 0 10px;
	border: 0;
	color: $black-8;
	background: none;
	cursor: pointer;
}
.app-notification {
	min-width: 270px;
}
.app-notification__title {
	padding: 8px 20px;
	text-align: center;
	background-color: rgba(0, 150, 136, 0.4);
	color: #333;
}
.app-notification__footer {
	padding: 8px 20px;
	text-align: center;
	background-color: #eaedff;
}
.app-notification__content {
	max-height: 220px;
	overflow-y: auto;
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-thumb {
		background: $black-2;
	}
}
.app-notification__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 8px 20px;
	color: inherit;
	border-bottom: 1px solid #ddd;
	-webkit-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
	&:focus, &:hover {
		color: inherit;
		text-decoration: none;
		background-color: #e0e0e0;
	}
}
.app-notification__message, .app-notification__meta {
	margin-bottom: 0;
}
.app-notification__icon {
	padding-right: 10px;
}
.app-notification__message {
	line-height: 1.2;
}
.app-sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding-top: 66px;
	width: 230px;
	z-index: 10;
	-webkit-transition: left 0.3s ease, width 0.3s ease;
	-o-transition: left 0.3s ease, width 0.3s ease;
	transition: left 0.3s ease, width 0.3s ease;
	background: #252434;
	color: #151948;
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-thumb {
		background: $black-2;
	}
}
@media print {
	.app-sidebar {
		display: none;
	}
}
@media (max-width: 767px) {
	.app-sidebar__overlay {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 9;
	}
}
.app-sidebar__user {
	.dropdown-menu {
		top: 10px !important;
	}
	text-align: center;
	padding: 15px 0 15px;
	color: #151948;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.app-sidebar__user-avatar {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	margin-right: 15px;
}
.app-sidebar__user-name {
	&.text-sm {
		font-size: 13px;
		color: $white-5 !important;
	}
	font-size: 15px;
	line-height: 1.3;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	margin-bottom: 0;
}
.app-sidebar__user-designation {
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	margin-bottom: 0;
}
.side-menu {
	margin-bottom: 0;
	padding-bottom: 10px;
}
.side-menu__item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0.75rem 1.3rem;
	font-size: 13px;
	-webkit-transition: border-left-color 0.3s ease, background-color 0.3s ease;
	-o-transition: border-left-color 0.3s ease, background-color 0.3s ease;
	transition: border-left-color 0.3s ease, background-color 0.3s ease;
	color: $white-7;
	border-bottom: 1px solid $white-05;
}
.slide.is-expanded a {
	color: $white-5;
	background: rgba(232, 231, 243, 0.05);
	&:hover {
		color: $white;
	}
}
.slide-menu li.active>a {
	font-weight: 400;
	background: $white;
}
.side-menu__icon {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 25px;
}
.side-menu__label {
	white-space: nowrap;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.slide {
	&.is-expanded {
		[data-toggle='slide'] {
			color: $primary;
			font-weight: 400;
		}
		.slide-menu {
			li a:hover {
				background: #2f2e3e;
				color: $white;
			}
			display:block;
		}
		.angle {
			-webkit-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			transform: rotate(90deg);
			position: absolute;
			right: 32px;
		}
	}
	.angle {
		position: absolute;
		right: 32px;
	}
}
.slide-menu {
	display:none;
	overflow: hidden;
}
.slide-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 10px 10px 10px 45px;
	font-size: 13px;
	color: $white-5;
	&.active, &:hover, &:focus {
		text-decoration: none;
		color: #3e4b5b;
	}
	&:hover {
		background: #f1f1ff;
		color: $primary;
	}
	.icon {
		margin-right: 5px;
	}
}
.angle {
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-transition: -webkit-transform 0.3s ease;
	transition: -webkit-transform 0.3s ease;
	-o-transition: transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
@media (min-width: 575.98px) {
	.app-sidebar__user .user-info {
		display: block;
		margin-top: 0.5rem;
	}
}
.dropdown-menu.dropdown-menu-right {
	left: auto;
}
.dropdown-item {
	.fa, .icon {
		vertical-align: middle;
	}
}
.app-title {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	background-color: #FFF;
	margin: -30px -30px 30px;
	padding: 20px 30px;
	-webkit-box-shadow: 0 1px 2px $black-1;
	box-shadow: 0 1px 2px $black-1;
	h1 {
		margin: 0;
		font-size: 24px;
		font-weight: 400;
	}
	p {
		margin-bottom: 0;
		font-style: italic;
	}
}
@media print {
	.app-title {
		display: none;
	}
}
@media (max-width: 480px) {
	.app-title {
		margin: -15px -15px 15px;
		padding: 20px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
}
@media (max-width: 480px) {
	.app-title p {
		display: none;
	}
}
.app-breadcrumb {
	margin-bottom: 0;
	text-align: right;
	font-weight: 500;
	font-size: 13px;
	text-transform: capitalize;
	padding: 0;
	text-align: left;
	padding: 0;
	background-color: transparent;
}
@media (max-width: 480px) {
	.app-breadcrumb {
		margin-top: 10px;
	}
}
.tile {
	position: relative;
	background: $white;
	border-radius: 3px;
	padding: 20px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px $black-2;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px $black-2;
	margin-bottom: 30px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
@media print {
	.tile {
		border: 1px solid #ddd;
	}
}
.app-sidebar {
	ul li {
		font-weight: 400;
		&:last-child {}
		&:first-child {
			border-top: 0;
			border-bottom: 0;
		}
		ul li:last-child {
			border-bottom: 0;
		}
	}
	.side-menu li ul .slide-item .active {
		background: #f1f1ff;
	}
}
.header .nav-link .text-dark {
	color: $white !important;
}
.app-sidebar .side-menu {
	.slide-menu li a.active {
		background: #2f2e3e !important;
		color: $white !important;
	}
	.side-menu__icon {
		z-index: 99;
		text-align: center;
		font-size: 16px;
	}
}
.side-menu__label {
	white-space: nowrap;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	margin-left: 5px;
}
.app-sidebar {
	.side-menu .side-menu__item {
		&:hover .side-menu__icon, &.active .side-menu__icon {
			color: $white;
		}
	}
	.user-info .text-dark {
		color: $white !important;
	}
}
.slide-item:before {
	content: '\e603';
	margin-right: 10px;
	position: relative;
	font-family: 'simple-line-icons' !important;
	opacity: 0.3;
}
.slide.is-expanded .slide-menu li:last-child {
	border-bottom: 1px solid $white-05;
}
.side-menu__item {
	&.active .side-menu__icon:after, &:hover .side-menu__icon:after {
		display: block;
	}
}