@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

.dashboard {
  width: 96.5%;
  padding-top: 0px;
  padding-bottom: 40px;
  margin: 20px 20px;
}

.dashboard .dashboard-item {
  display: flex;
  flex-direction: column;
  padding-bottom: 3%;
  /* margin: 20px 0px; */
}

.dashboard .dashboard-item .dashboard-title {
  font-size: 30px;
  margin-bottom: 2%;
  background-color: rgb(255, 255, 255);
  border: 1px solid #cccccc;
  text-align: center;
  width: 100%;
  margin: auto;
}

.dashboard .dashboard-item .dashboard-data {
  display: flex;
  justify-content: space-evenly;
}
