.main-nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0px;
  width: 100%;
  right: 0px;
  z-index: 1000;
  background-color: white;
  height: 70px;
  border-bottom: 1px solid #e5e5e5;
}

.main-nav .logo {
  background-color: #1f2431;
  height: 101.5%;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.main-nav .set {
  position: absolute;
  width: 300px;
  right: 50px;
  top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.main-nav .set.inactive{
  display: none;
}

.main-nav.inactive .logo {
  width: 80px;
}

.main-nav .logo h2 {
  font-size: 25px;
  padding-top: 15px;
  max-width: 100px;

  color: #f9f9f9;
}

.main-nav .menu-links {
  width: 40%;
  height: 100%;
}

.main-nav .menu-links ul {
  width: 100%;
  height: 100%;

  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-nav .menu-links ul li {
  padding-top: 20px;
}

.main-nav .menu-links ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.main-nav .media-links {
  height: 100%;
  width: 20%;
}

.main-nav .media-links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
}

.main-nav .media-links ul li {
  padding-top: 20px;
}

.main-nav .media-links ul li a {
  font-size: 26px;
  color: black;
}

.notification {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: absolute;
  width: 300px;
  min-width: 160px;
  height: fit-content;
  background-color: white;
  -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.99);
  box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.99);
  border-radius: 15px;
  right: 180px;
  top: 60px;
}

.notification.inactive {
  display: none;
}

.notification table {
  /* background-color: violet; */
  width: 100%;
  padding: 15px;
}

.notiCount {
  background-color: #4482ff;
  color: white;
  position: absolute;
  top: 2px;
  margin: 8px 10px;
  font-size: 14px;
  padding: 4px 7px;
  width: 10px;
  height: 15px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.notiCount.inactive {
  display: none;
}
.notification-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 20px 15px 20px;
}
.notification table {
  background-color: #f1f3f6;
}
.notification table tbody tr {
  font-size: 13px;
  font-weight: 500;
  color: rgb(151, 151, 151);
  padding: 10px 15px 20px;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

.notification .noti-name h5 {
  font-size: 13px;
  font-weight: 500;
  color: rgb(50, 51, 50);
  margin-top: 0px;
  padding-bottom: 5px;
}
p {
  font-size: 12px;
  font-weight: 400;
  color: rgb(151, 151, 151);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: 10px;
}
.notification .noti-name {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid rgb(134, 134, 134);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.notification .mybutton {
  font-size: 13px;
  font-weight: 500;
  color: rgb(151, 151, 151);
  padding: 10px 15px 20px;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.notification button {
  border: 0px;
  background-color: white;
  cursor: pointer;
}
