@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantata+One&display=swap");

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(222, 229, 233);
  font-family: "Noto Serif", serif;
}

.dashboard .dashboard-item {
  /* background-color: teal; */
  text-align: center;
  position: relative;
  width: 100%;
  margin-bottom: 9%;
  margin-top: 5%;
  /* border: 1px solid black; */
}

.dashboard .dashboard-item .dashboard-title {
  font-size: 20px;
  color: rgb(37, 26, 37);
  /* background-color: teal; */
  text-align: left;
  padding-left: 70px;
  margin-bottom: 1.5rem;

  font-family: "Cantata One", serif;
}

.dashboard .dashboard-item .dashboard-data {
  width: 100%;
  background-color: transparent;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dashboard .dashboard-item .dashboard-data .dash-card {
  width: 25rem;
  height: 10rem;

  margin: 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 24px 24px;

  background-color: rgb(255, 254, 254);

  box-shadow: 10px 10px 8px -3px rgba(0, 0, 0, 0.22);

  padding: 5px;
}

.dashboard .dashboard-item .dashboard-data .dash-card .dash-card-half {
  /* background-color: tomato; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  /* border-radius: 10px; */
}

.dashboard .dashboard-item .dashboard-data .dash-card .dash-card-half span {
  font-size: 20px;
  color: rgb(103, 163, 163);
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  /* background-color: black; */
  /* color: rgb(37, 26, 37); */
}

.dashboard .dashboard-item .dashboard-data .dash-card .dash-card-half a {
  color: rgb(37, 26, 37);
  font-size: 20px;
  transition: 0.5s;
}

.dashboard
  .dashboard-item
  .dashboard-data
  .dash-card
  .dash-card-half
  a
  .dash-btn {
  border: none;
  padding: 5px 5px;
  background-color: teal;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
}

.dashboard
  .dashboard-item
  .dashboard-data
  .dash-card
  .dash-card-half
  a
  .dash-btn:hover{
    color: rgb(228, 230, 231);
    background-color: rgb(13, 75, 75);
  }

.dashboard .dashboard-item .dashboard-data .dash-card .dash-card-half a:hover {
  color: silver;
}

.dashboard i {
  font-size: 55px;
  /* color: blue; */
  transform: rotateY(180deg);
}
