.card-title{
    /* background-color: gray; */
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: black;
}

.gs-table{
    position: absolute;
    width: 90%;
    margin: auto;
    margin-top: 5%;
}

.gs-table .options{
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}