@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

/* SIDEBAR */
.side-bar {
  /* background-image: linear-gradient(-315deg, #2f4353 0%, #d2ccc4 74%); */
  background-color: rgb(45, 52, 70);
  opacity: 1;
  position: fixed;
  height: 100%;
  width: 250px;
  top: 64px;
  box-sizing: border-box;
  padding: 30px 0px;
  transition: width 0.5s ease-in-out;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Merriweather", serif;
  z-index: 2;
}

.side-bar.inactive {
  width: 80px;
}

.side-bar .top-section {
  position: relative;
}

.side-bar .top-section .logo {
  font-size: 20px;
  color: rgb(120, 129, 149);
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  padding-left: 10px;
  padding-left: 30px;
}

/* .side-bar .top-section .toggle-menu-btn{
    font-size: 25px;
    color: #fff;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
} */

/* .side-bar.inactive .top-section .toggle-menu-btn{
    right: -50px;
    color: black;
} */

/* .side-bar .search-box{
    position: relative;
    color: #fff;
} */

/* .side-bar .search-box input[type = text]{
    border: 0;
    outline: none;
    height: 35px;
    background-color: #333;
    border-radius: 10px;
    display: block;
    margin: 20px 0;
    padding-left: 40px;
    width: 100%;
    box-sizing: border-box;
} */

/* .side-bar .search-box .search-btn{
    width: 40px;
    height: 35px;
    position: absolute;
    background: transparent;
    border: 0;
    font-size: 20px;
    color: #666;
    top: 50%;
    transform: translateY(-40%);
    left: 50%;
} */

/* .side-bar .divider {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background-color: #333;
} */

.side-bar .main-menu {
  margin: 5px 0px;
}

.side-bar .main-menu .menu-item {
  color: rgb(120, 129, 149);
  font-family: "Lora", serif;
  font-size: 18px;
  margin: 0;
  display: block;
  padding-left: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.side-bar .main-menu .menu-item:hover {
  color: #f8f8ff;
}

.side-bar .main-menu .menu-item-major {
  border-bottom: 0.1px solid rgb(114, 118, 128);
}

.side-bar .main-menu .menu-item span {
  position: absolute;
  display: inline-block;
  line-height: 40px;
  margin-left: 10px;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}
.side-bar .main-menu .menu-item span i {
  padding-left: 20px;
  font-size: 15px;
  /* transition: all 0.3s ease-in-out; */
}

.side-bar.inactive .main-menu .menu-item span {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
.side-bar .main-menu .menu-item .menu-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.side-bar .main-menu .sub-menu {
  font-family: "Lora", serif;
  font-size: 15px;
  border: none;
  box-sizing: border-box;
  padding-left: 70px;
  max-height: 0;
  overflow: hidden;
  background-color: rgb(21, 24, 31);
  transition: all, 0.5s, ease-in-out;
}

.side-bar .main-menu .sub-menu.active {
  max-height: 200px;
}

.side-bar .main-menu .sub-menu a {
  color: #b4bac2;
  font-size: 16px;
  display: block;
  padding: 2px 0px;
}

.side-bar .main-menu .sub-menu a:hover {
  /* background-color: #537895; */
  /* background-image: linear-gradient(315deg, #537895 0%, #09203f 74%); */
  color: #f8f8ff;
}

.side-bar .side-bar-footer {
  width: 100%;
  height: 50px;
  background-color: #666;
  /* position: absolute; */
  bottom: 0;
  left: 0;
}
