@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

.dashboard {
  /* background-color: rgb(192, 172, 172); */
  width: 96.5%;
  padding-top: 0px;
  padding-bottom: 40px;
  margin: 20px 20px;
}

.dashboard .dashboard-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  padding-bottom: 30px;
  background-color: white;
  margin: 20px 0px;
}

.dashboard .dashboard-item .dashboard-title {
  font-size: 30px;
  /* background-color: blueviolet; */
  padding: 10px 80px;
  margin-bottom: 20px;
  color: #323332;
}

.dashboard .dashboard-item .dashboard-data {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* background-color: darkslategray; */
}
