.dashboard {
  width: 92%;
  height: fit-content;
  padding-top: 8%;
  padding-left: 8%;
  /* background-color: coral; */
}

.dashboard .box1{
  /* background-color: blue; */
  width: 96%;
}


.dashboard .linechart{
  width: 80%;
}