label {
	display: inline-block;
	margin-bottom: 0.5rem;
}
ul.labels-info li {
	h4 {
		color: #5c5c5e;
		font-size: 13px;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 5px;
		text-transform: uppercase;
	}
	margin: 0;
	a {
		border-radius: 0;
		color: #6c6a8d;
		&:hover, &:focus {
			background: none repeat scroll 0 0 #d5d7de;
			color: #6c6a8d;
		}
		i {
			padding-right: 10px;
		}
	}
}
.label {
	display: inline-block;
	margin-bottom: .5rem;
}