/*----45. Time line -----*/

.timeline {
	position: relative;
	margin: 0 0 2rem;
	padding: 0;
	list-style: none;
	&:before {
		background-color: #e4e6f9;
		position: absolute;
		display: block;
		content: '';
		height: 100%;
		top: 0;
		bottom: 0;
		left: 4px;
	}
}
.timeline-item {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	padding-left: 2rem;
	margin: .5rem 0;
	&:first-child:before, &:last-child:before {
		content: '';
		position: absolute;
		background: $white;
		width: 1px;
		left: .25rem;
	}
	&:first-child {
		margin-top: 0;
		&:before {
			top: 0;
			height: .5rem;
		}
	}
	&:last-child {
		margin-bottom: 0;
		&:before {
			top: .5rem;
			bottom: 0;
		}
	}
}
.timeline-badge {
	position: absolute;
	display: block;
	width: 0.4375rem;
	height: 0.4375rem;
	left: 1px;
	top: .5rem;
	border-radius: 100%;
	border: 1px solid $white;
	background: #adb5bd;
}
.timeline-time {
	white-space: nowrap;
	margin-left: auto;
	color: #6c6a8d;
	font-size: 87.5%;
}
/***** time-line*****/

.timeline__item:after {
	background: $white !important;
}
.timeline--horizontal .timeline-divider {
	background: #e9eaf3 !important;
}
.timeline__content {
	background-color: $white;
	border-radius: 10px;
	display: block;
	padding: 1.25rem;
	position: relative;
}
ul.timeline {
	list-style-type: none;
	position: relative;
	&:before {
		content: ' ';
		background: #d4d9df;
		display: inline-block;
		position: absolute;
		left: 29px;
		width: 2px;
		height: 100%;
		z-index: 400;
	}
	>li {
		margin: -5px 42px;
		padding-left: 20px;
		&:before {
			content: ' ';
			display: inline-block;
			position: absolute;
			border-radius: 50%;
			border: 1px solid #6c6c6f;
			left: 20px;
			width: 20px;
			height: 20px;
			z-index: 400;
		}
	}
}