/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap"); */

.complaint {
  /* position: absolute; */
  width: 700px;
  background: #fff;
  margin: 4.3rem auto;
  padding: 40px 30px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  perspective: 2800px;
}

.complaint .cover {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
  background-color: #554747;
  /* background-image: linear-gradient(-315deg, #2f4353 0%, #d2ccc4 74%); */
  z-index: 98;
  transition: all 1s ease;
  transform-origin: left;
  transform-style: preserve-3d;
}

.complaint .cover::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}
.complaint #flip:checked ~ .cover {
  transform: rotateY(-180deg);
}

.complaint form {
  height: 100%;
  width: 100%;
  background: #fff;
}

.complaint .form-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-content .login-form .form-content .Signup-form {
  width: calc(100% / 2 - 25px);
}

form .form-content .title {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: rgb(24, 24, 24);
}

form .form-content .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #aee5ec;
}

form .Signup-form .title::before {
  width: 20px;
}

form .form-content .input-boxes {
  margin-top: 30px;
}

form .form-content .input-box {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin: 10px 0;
  position: relative;
}

.form-content .input-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 17px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.form-content .input-box textarea{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 0 30px;
  font-size: 17px;
  font-weight: 500;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
  border-color: #aee5ec;
}
.form-content .input-box i {
  position: absolute;
  color: #aee5ec;
  font-size: 17px;
}

form .form-content .text {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

form .form-content .text a {
  text-decoration: none;
}

form .form-content .text a:hover {
  text-decoration: underline;
}
form .form-content .button {
  color: #fff;
  margin-top: 40px;
}

form .form-content .button {
  color: #fff;
  background: #449ba7;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}

form .form-content .button:hover {
  background: #044c57;
}

form .form-content label {
  color: #044c57;
  cursor: pointer;
}

form .form-content label:hover {
  text-decoration: underline;
}

#flip {
  visibility: hidden;
}

.complaint .form-btn {
  margin-top: 1rem;
  padding: 7px 0px;
  border: none;
  width: 100%;
  font-size: 20px;
  color: silver;
  /* background-image: linear-gradient(315deg, #2b1331 0%, #b9abcf 74%); */
  background-color: #2f4353;
  transition: background-image 0.5s ease-in-out;
}

.complaint .form-btn:hover {
  /* background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%); */
  background-color: #333;
}
