.main-nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0px;
  width: 100%;
  right: 0px;
  z-index: 1000;
  background-color: white;
  height: 70px;
}

.main-nav .logo {
  background-color: #1f2431;
  height: 100%;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.main-nav.inactive .logo {
  width: 80px;
}

.main-nav .logo h2 {
  font-size: 25px;
  padding-top: 15px;
  max-width: 100px;

  color: #f9f9f9;
}

.main-nav .menu-links {
  width: 40%;
  height: 100%;
}

.main-nav .menu-links ul {
  width: 100%;
  height: 100%;

  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-nav .menu-links ul li {
  padding-top: 20px;
}

.main-nav .menu-links ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.main-nav .media-links {
  height: 100%;
  width: 20%;
}

.main-nav .media-links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
}

.main-nav .media-links ul li {
  padding-top: 20px;
}

.main-nav .media-links ul li a {
  font-size: 20px;
  color: black;
}
