.auth {
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: #ffffff;
  /* background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%); */
}

.auth .btn-auth {
  color: white;
  background-color: black;
}
