.auth {
  padding: 90px 20px 20px 20px;
  margin: auto;
  background-color: rgb(61, 48, 58);
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  height: fit-content;

  width: 400px;
}

.auth input {
  height: 40px;
  font-size: 16px;
  background-color: rgb(61, 48, 58);
  border: none;
  border-bottom: 1px solid rgb(167, 155, 155);
  color: rgb(167, 155, 155);
}

.auth button {
  color: rgb(255, 255, 255);
  background-color: black;
  border: none;
  height: 40px;
  font-size: 20px;
}
